<div class="principal">
    <div class="content">
        <div class="content_top">
            <div class="interior_buscar">
                <div class="imagen">
                    <img class="img" src="../../../../assets/img/images1.png">
                </div>
                <div class="input_buscar">
                    <input #input (keyup)="buscarSolucion(input.value)" id="buscar_registrar" type="text" class="input_bus">
                </div>
                <!-- <div class="buttons">
                    <button class="button_nuevo">Inicio</button>
                </div> -->
            </div>
        </div>
        <div class="content_bottom">
            <div id="registrar" class="resultado_en_registrar">
                <div class="izquierda_content_bottom">

                    <div class="formulario_registrar">
                        <form action="" ngNativeValidate (ngSubmit)="registrar()">
                            <div class="input_formulario">
                                <div class="input-group">
                                    <input required [(ngModel)]="this._mensaje.mensaje.nombre_error" name="nombre_error" type="text" class="input" id="problema">
                                    <label class="label" id="label_problema" for="problema">Problema</label>
                                </div>
                            </div>
                            <div class="input_formulario1">
                                <div class="input-group">
                                    <textarea required type="text" [(ngModel)]="this._mensaje.mensaje.tipo_error" name="tipo_error" class="textarea" id="descripcion" name="descripcion"></textarea>
                                    <label class="label" id="label_descripcion" for="descripcion">Descripcion del problema</label>
                                </div>
                            </div>
                            <div class="input_formulario2">
                                <div class="input-group">
                                    <textarea type="text" required [(ngModel)]="this._mensaje.mensaje.solucion" name="solucion" class="textarea" id="solucion" name="solucion"></textarea>
                                    <label class="label" id="label_solucion" for="solucion">Solucion</label>
                                </div>
                            </div>
                            <div class="bottones_">
                                <button id="volver" [routerLink]="['/pages/','inicio']" title="Volver al inicio" type="button" class="volver_button"><i class="fas fa-undo"></i></button>
                                <button type="submit" title="Guardar solucion" class="registrar_button">{{this._mensaje.texto_boton}}</button>
                            </div>
                        </form>
                    </div>
                    <div class="mis_soluciones">
                        <i id="abrir_mis_solucion" (click)="abrir_pantalla()" class="fas fa-sign-in-alt"></i>
                    </div>
                </div>
                <div class="derecha_content_bottom">
                    <div *ngIf="this._mensaje.mensajes.length < 1" class="Usted">
                        <h1>Usted no tiene ninguna solucion registrada</h1>
                    </div>
                    <div *ngIf="this._mensaje.mensajes.length >= 1" class="carta_content_bottom">

                        <div class="carta_interior_bottom" *ngFor="let problema of this._mensaje.mensajes">
                            <div class="carta_">
                                <div class="editar" (click)="editar(problema._id)"><i class="fas fa-pencil-alt"></i></div>
                                <div class="eliminar"><i class="fas fa-times"></i></div>

                                <div class="problema">
                                    <div class="problema_titulo">
                                        <span class="span_titulo">Problema:</span>
                                    </div>
                                    <div class="problema_contenido">
                                        <span class="span_contenido">{{problema.nombre_error}}</span>

                                    </div>
                                </div>
                                <div class="descripcion_problema">
                                    <div class="descripcion_titulo">
                                        <span class="span_titulo">Descripcion:</span>
                                    </div>
                                    <div class="descripcion_contenido">
                                        <span class="span_contenido">{{problema.tipo_error}}</span>

                                    </div>
                                </div>
                                <div class="solucion">
                                    <div class="solucion_titulo">
                                        <span class="span_titulo">Solucion:</span>
                                    </div>
                                    <div class="solucion_contenido">
                                        <span class="span_contenido">
                                            {{problema.solucion}}</span>

                                    </div>
                                </div>
                                <div class="Fecha">
                                    <div class="Fecha_titulo">
                                        <span class="span_titulo">Fecha:</span>
                                    </div>
                                    <div class="Fecha_contenido">
                                        <span class="span_contenido">
                                                {{problema.fecha}}</span>

                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
            <div id="solucion" class="registrar_solucion">
                <div *ngIf="this._mensaje.Resultado_busqueda.length < 1" class="resultadoss">
                    <h1>No hay resultado para su busqueda</h1>
                </div>
                <div *ngIf="this._mensaje.Resultado_busqueda.length >= 1" class="interior_resultado">

                    <div class="carta" *ngFor="let resultado of this._mensaje.Resultado_busqueda">
                        <div class="carta_interior">
                            <div class="Error">
                                <div class="error_titulo">
                                    <span class="span_titulo">Problema:</span>
                                </div>
                                <div class="error_contenido">
                                    <span class="span_contenido">{{resultado.nombre_error}}</span>

                                </div>
                            </div>
                            <div class="tipo_error">
                                <div class="tipo_error_titulo">
                                    <span class="span_titulo">Descripcion del problema:</span>
                                </div>
                                <div class="tipo_error_contenido">
                                    <span class="span_contenido">{{resultado.tipo_error}}</span>

                                </div>
                            </div>
                            <div class="fecha">
                                <div class="fecha_titulo">
                                    <span class="span_titulo">Fecha:</span>
                                </div>
                                <div class="fecha_contenido">
                                    <span class="span_contenido">{{resultado.fecha}}</span>

                                </div>
                            </div>
                            <div class="solucion">
                                <div class="solucion_titulo">
                                    <span class="span_titulo">Solucion:</span>
                                </div>
                                <div class="solucion_contenido">
                                    <span class="span_contenido">{{resultado.solucion}}</span>

                                </div>
                            </div>
                            <div class="publicado">
                                <div class="publicado_titulo">
                                    <span class="span_titulo">Publicado por:</span>
                                </div>
                                <div class="publicado_contenido">
                                    <span class="span_contenido">{{resultado.hecho_objeto.nombre}}</span>

                                </div>
                            </div>
                        </div>
                    </div>








                </div>
            </div>
        </div>
    </div>
</div>