<div class="principal">
    <div class="general">
        <div class="izquierda">
            <div class="volver">
                <i (click)="salir()" class="fas fa-power-off"></i>
                <i id="abrir" (click)="abrir_pantalla()" class="fas fa-sign-in-alt"></i>
            </div>
            <div class="contenido_izquierda">

                <div class="buscador">
                    <div class="interior_buscar">
                        <div class="imagen">
                            <img class="img" src="../../../../assets/img/images1.png">
                        </div>
                        <div class="input_buscar">
                            <input #input (keyup)="buscarSolucion(input.value)" id="buscar" type="text" class="input_bus">
                        </div>
                        <div class="buttons">
                            <button [routerLink]="['/pages/','registrar-solucion']" class="button_nuevo">Nueva solucion</button>
                        </div>
                    </div>
                </div>
                <div class="resultado">
                    <div *ngIf="this._ServicioMensaje.Resultado_busqueda.length < 1 && input.value.length > 0" class="resultadoss">
                        <h1>No hay resultado para su busqueda</h1>
                    </div>
                    <div *ngIf="this._ServicioMensaje.Resultado_busqueda.length < 1" class="resultadoss">
                        <h1>Bienvenido, haga una busqueda</h1>
                    </div>

                    <div class="interior_resultado" *ngIf="this._ServicioMensaje.Resultado_busqueda.length > 0">


                        <div class="carta" *ngFor="let resultado of this._ServicioMensaje.Resultado_busqueda">
                            <div class="carta_interior" (click)="enviarAsolucion(resultado._id)">
                                <div class="Error">
                                    <div class="error_titulo">
                                        <span class="span_titulo">Problema:</span>
                                    </div>
                                    <div class="error_contenido">
                                        <span class="span_contenido">{{resultado.nombre_error}}</span>

                                    </div>
                                </div>
                                <div class="tipo_error">
                                    <div class="tipo_error_titulo">
                                        <span class="span_titulo">Descripcion del problema:</span>
                                    </div>
                                    <div class="tipo_error_contenido">
                                        <span class="span_contenido">{{resultado.tipo_error}}</span>

                                    </div>
                                </div>
                                <div class="fecha">
                                    <div class="fecha_titulo">
                                        <span class="span_titulo">Fecha:</span>
                                    </div>
                                    <div class="fecha_contenido">
                                        <span class="span_contenido">{{resultado.fecha}}</span>

                                    </div>
                                </div>
                                <div class="solucion">
                                    <div class="solucion_titulo">
                                        <span class="span_titulo">Solucion:</span>
                                    </div>
                                    <div class="solucion_contenido">
                                        <span class="span_contenido">{{resultado.solucion}}</span>

                                    </div>
                                </div>
                                <div class="publicado">
                                    <div class="publicado_titulo">
                                        <span class="span_titulo">Publicado por:</span>
                                    </div>
                                    <div class="publicado_contenido">
                                        <span class="span_contenido">{{resultado.hecho_objeto.nombre}}</span>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="derecha">
            <div class="formulario">
                <div class="contenedor_logo">
                    <div class="logo">
                        <label for="input_ocultar" class="labell">
                            <input (change)="imagen($event.target.files[0])" type="file" name="foto" id="input_ocultar">
                            <!-- <div class="imagen_perfil">
                            </div> -->
                            <img *ngIf="!imgTemporal" [src]="this._UsuarioService.UsuarioObjeto.imagen | imagen"  >
                            <img *ngIf="imgTemporal" [src]="imgTemporal"  >

                            <!-- <div class="imagen_defecto">
                                
                            </div> -->
                        </label>
                    </div>
                </div>
                <div class="contenedor_formulario">
                    <div class="icono_volver">
                        <span class="spa_registro">Perfil de usuario</span>
                    </div>
                    <div class="formulario">
                        <form action="" (ngSubmit)="actualizarUsuario()">
                            <div class="input_formulario">
                                <div class="input-group">
                                    <input type="text" class="input" [(ngModel)]="this._UsuarioService.UsuarioObjeto.nombre" id="nombreAct" name="nombre">
                                    <label class="label" id="label_nombreAct" for="nombreAct">Nombre completo</label>
                                </div>
                            </div>
                            <div class="input_formulario">
                                <div class="input-group">
                                    <input type="text" [disabled]="google" class="input" [(ngModel)]="this._UsuarioService.UsuarioObjeto.correo" id="correoAct" name="correo">
                                    <label class="label" id="label_correoAct" for="correoAct">Correo electrinico</label>
                                </div>
                            </div>
                            <div class="input_formulario">
                                <div class="input-group">
                                    <input type="text" [disabled]="google" class="input" [(ngModel)]="this._UsuarioService.UsuarioObjeto.usuario" id="usuarioAct" name="usuario">
                                    <label class="label" id="label_usuarioAct" for="usuarioAct">Nombre de usuario</label>
                                </div>
                            </div>
                            <div class="input_formulario">
                                <div class="input-group">
                                    <input type="password" [disabled]="google" class="input" id="contraAct" [(ngModel)]="this._UsuarioService.UsuarioContra.password" name="password">
                                    <label class="label" id="label_contraAct" for="contraAct">Contraseña</label>
                                </div>
                            </div>
                            <div class="input_formulario">
                                <div class="input-group">
                                    <input type="password" [disabled]="google" class="input" id="confir_contra_Act" [(ngModel)]="this._UsuarioService.UsuarioContra.password1" name="password1">
                                    <label class="label" id="label_confir_contra_Act" for="confir_contra_Act">Confirmar contraseña</label>
                                </div>
                            </div>
                            <div class="input_formulario1">
                                <button id="abrir" (click)="abrir_pantalla()" type="button" class="volver_button"><i class="fas fa-undo"></i></button>
                                <button type="submit" class="registrar_button">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>